<?xml version="1.0"?>
<config>
    <modules>
        <Rossmc_CssCategoryAttribute>
            <version>0.0.1</version>
        </Rossmc_CssCategoryAttribute>
    </modules>

    <global>
        <resources>
            <add_category_attribute>
                <setup>
                    <module>Rossmc_CssCategoryAttribute</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_category_attribute>
            <add_category_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </add_category_attribute_write>
            <add_category_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </add_category_attribute_read>
        </resources>
        <models>
            <catalog>
                <rewrite>
                    <observer>Rossmc_CssCategoryAttribute_Model_Rewrite_Observer</observer>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>Rossmc_CssCategoryAttribute_Block_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
    </global>
    <frontend>
        <category>
            <collection>
                <attributes>
                    <css_classes />
                </attributes>
            </collection>
        </category>
        <events>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <rossmc_csscategoryattribute_model_observer>
                        <type>singleton</type>
                        <class>Rossmc_CssCategoryAttribute_Model_Observer</class>
                        <method>addMenuAttributes</method>
                    </rossmc_csscategoryattribute_model_observer>
                </observers>
            </catalog_category_flat_loadnodes_before>
        </events>
    </frontend>
</config>